body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: tomato;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, rgb(65, 62, 57) 30%,rgb(32, 129, 53) 70%);
}